<div class="tuto-container">
    <div class="content">
        <h1>Session 5 : Les signaux </h1>
        <div>
            <h4>Détail d'utilisateur</h4>
            <p style="display: flex; align-items: center; gap: .5rem;">
                <span>{{userName()}}</span>
                <span>{{ageCalulated()}} ans </span>
                <button (click)="setUser('John')">changer le nom et mettre en Maj</button>
            </p>

            <p>User name to Capitalized : {{userNameCapitalized()}}</p>
        </div>

        <span>une fois encore (Age) : {{ageCalulated()}}</span>
    </div>

</div>