h1 {
    color: #336;
}
.tuto-container {
    height: 95vh;
    .content {
        padding: .5rem 1rem;
        border: 1px solid #ccc;
        height: 100%;
        width: 920px;
        margin: 0 auto;
    }
}