<div class="tuto-container">
    <div class="content">
       <h2>Gestion des utilisateurs</h2>
       @if (users$ | async; as users) {
           @for (user of users; track user.email) {
            <div class="user-item" (click)="showUserDetails(user)">
                <span>{{user.name}}</span>
                <span> Age: {{user.email}}</span>
            </div>
           }
           <span class="separator"></span>
           <!-- Affichage des détails de l'utilisateur -->
            @if (userSelected) {
                <div>
                    <app-show-user [userData]="userSelected" [designUser]="true" (deleteUser)="deleteUserEvent($event)"></app-show-user>
                </div>
            }
        } @else {
            <div class="loading">Chargement des utilisateurs...</div>
        }

    </div>
</div>